@model prj_Traveldate_Core.ViewModels.CLoginMemberViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>會員登入</h1>

<form asp-action="Login">

    <button type="submit" class="btn my-btn-primary">第三方登入</button>
    <br>
    <br>
    <div class="mb-3">
        <label for="mlUsername" class="form-label">帳號</label>
        <input type="tel" class="form-control" asp-for="mlUsername" aria-describedby="phoneHelp" pattern="09[0-9]{8}" value="0945316798" />
        <span id="phoneHelp" class="form-text ml-1">會員帳號為註冊使用的手機號碼</span>
        <br>

        <div class="mb-3">
            <label for="mlPassword" class="form-label">密碼</label>
            <input type="password" class="form-control" asp-for="mlPassword" value="11">
            <span class="loginAlert ml-1">@ViewBag.Message</span>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">記住密碼</label>
        </div>
        <input type="submit" class="btn my-btn-primary" value="登入" />
        <br>
     </div>
</form>

<br>

<div class="downlabel">

        <a asp-area="" asp-controller="Login" asp-action="SignUp">建立帳戶</a>
        <label for="exampleInputEmail1" class="form-label">忘記密碼</label>
    <a asp-area="" asp-controller="Login" asp-action="CompanyLogin">切換廠商登入</a>
    <br />
<a asp-area="" asp-controller="Member" asp-action="Index">開發用會員登入</a>
</div>

 @section Styles
 {
    <link href="~/css/Login.css" rel="stylesheet" />
 }