@model prj_Traveldate_Core.Models.MyModels.CMemberWrap

@{
    ViewData["Title"] = "會員註冊";
}

<h1>會員註冊</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button type="button" class="btn btn-outline-secondary" id="demobtn">DEMO</button>
            <br />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control LastName" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control FirstName" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label><br />
                <div class="radio-group pl-2">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Gender" type="radio" value="男" id="gender_male" checked />
                        <label class="form-check-label" for="gender_male">男</label>
                    </div>
                <div class="form-check">
                        <input class="form-check-input" asp-for="Gender" type="radio" value="女" id="gender_female" />
                        <label class="form-check-label" for="gender_female">女</label><br />
                      </div>
                <div class="form-check">
                        <input class="form-check-input" asp-for="Gender" type="radio" value="不回答" id="gender_x" />
                        <label class="form-check-label" for="gender_x">不回答</label><br />
                    </div>
                    </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idnumber" class="control-label"></label>
                <input asp-for="Idnumber" class="form-control Idnumber" required />
                <span asp-validation-for="Idnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control BirthDate" type="date" required />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control Phone" required />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">上傳大頭照</label>
                <input asp-for="photo" class="form-control" type="file" name="photo" id="photo" />
                <div id="preview-box">
                    <img src="" id="preview" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="送出資料" class="btn my-btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Styles{

    <link href="~/css/Login.css" rel="stylesheet" />

    <style>
        #preview-box {
            display:flex;
            border: dashed 2px #155074;
            border-radius: 10px;
            margin: 1em 0;
            height: 150px;
            width: 300px;
        }

        #preview {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            margin: auto;
        }
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const upload = document.querySelector('#photo')
        const pbox = document.querySelector('#preview-box')

        upload.addEventListener('change', () => {
            const image = upload.files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                document.querySelector('#preview').src = reader.result;
            }, false);

            if (image) {
                reader.readAsDataURL(image);
            }

        })


        $('#demobtn').on('click', function () {
            $('.LastName').val("張");
            $('.FirstName').val("仁安");
            $('.Idnumber').val("A137854126");
            $('.BirthDate').val("1998-07-09");
            $('.Phone').val("0935765315");
            $('.Email').val("traveldate3@gmail.com");
            $('.Password').val("1234");
        })

        //資料驗證
        //  https://blog.csdn.net/weixin_45147894/article/details/106391212


    </script>
}
