<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prj_Traveldate_Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prj_Traveldate_Core.styles.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/css/PhotoStyle.css">
    <link rel="stylesheet" href="~/css/ProgramStyle.css">
    <link rel="stylesheet" href="~/css/CalendarStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xrW3VHgR0BXeG3xW1BLlM4/lnz5Bs6mV1KMd5fTXhO+UZmaJV6frFxDY6jXH+U/MkgeFFJdh9txbtozwY9TMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/multiRange.css" rel="stylesheet" />
    <link href="/css/calendar-style.css" rel="stylesheet" />
    <link href="/css/search.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link href="/css/nav.css" rel="stylesheet" />

    <script src="~/js/modernizr-2.8.3.js"></script>
    
    <!-- Custom fonts for this template-->
    <link href="~/Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
   
    <!-- Custom styles for this template-->
    <link href="~/Template/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


    <link rel="stylesheet" href="~/css/MyCSS.css" />
    <link href="/css/multiRange.css" rel="stylesheet" />
    <link href="/css/calendar-style.css" rel="stylesheet" />
    <link href="/css/search.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand" asp-area="" asp-controller="Search" asp-action="SearchList"><img src="~/icons/logo_travel_text_3.png" width="200px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex row w-75 pr-5 pl-5">
                    <div class="navbar-collapse collapse d-sm-inline-flex divide-line ">
                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item mr-5">
                            <a asp-area="" asp-controller="HomePage" asp-action="HomePage">首頁</a>
                        </li>
                            <li class="nav-item mr-5">
                            <a asp-area="" asp-controller="HomePage" asp-action="Intro">關於我們</a>
                        </li>
                            <li class="nav-item">
                            <a href="#contact-us">聯絡我們</a>
                        </li>
                    </ul>
                        
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                        <ul class="navbar-nav flex-grow-1 justify-content-evenly mt-1">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Search" asp-action="SearchList">團體旅遊</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Search" asp-action="SearchList">門票</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Search" asp-action="SearchList">自助旅行</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Forum" asp-action="ForumList">揪團</a>
                    </li>
                    
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Program" asp-action="Product">專案</a>
                    </li>
                </ul>
                </div>
                </div>
                <ul class="navbar-nav flex-grow-1  justify-content-center">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Login" asp-action="Login"><img src="~/icons/icons8-login-48.png"width="32"/></a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Login" asp-action="CompanyLogin"><img src="~/icons/icons8-setting-48.png" width="32" /></a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Cart" asp-action="ShoppingCart"><img src="~/icons/icons8-trolley-48.png"  width="32"/></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <div class="container-fluid p-0">
        @await RenderSectionAsync("TopImage", required: false)
        <div class="d-flex justify-content-center">
        <main role="main" class="pb-3 mt-3 col-9">
            @RenderBody()
        </main>
        </div>
    </div>

    <footer id="contact-us">
        <div class="d-flex row">
            <span>TravelDate</span>
            <span>&copy; 2023 旅遊網站。保留所有權利。</span>
            <span>公司名稱:TravelDate</span>
            <span>聯絡人:陳某某 電話: 0922222222</span>
            <span>Mail: TravelDate@gmail.com 地址:台北市復興南路一段390號2樓</span>
            <span>服務時間: 週一到週六 9:00-18:00 (例假日另行公告)</span>
        </div>
        <div class="social-icons">
            <a href="#" target="_blank" title="關注我們的Line"><img src="~/images/line-icon.png" alt="Line" width="50" height="50" style="border-radius: 10px;"></a>
            <a href="#" target="_blank" title="關注我們的Facebook"><img src="~/images/FB-icon.png" alt="Facebook" width="50" height="50" style="border-radius: 10px;"></a>
            <a href="#" target="_blank" title="關注我們的Instagram"><img src="~/images/IG-icon.png" alt="Instagram" width="50" height="50" style="border-radius: 10px;"></a>
        </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @*Scripts.Render("~/bundles/jquery")*@
   @* @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
    <!-- Bootstrap core JavaScript-->
    @*<script src="~/Template/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    @*<script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>*@

    <!-- Custom scripts for all pages-->
    <script src="~/Template/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Template/vendor/chart.js/Chart.min.js"></script>


    <script src="~/js/Myjs.js"></script>

    
    
</body>
</html>
