<section>
    <div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center; padding: 20px; background-color: rgba(255, 255, 255, 0.7);">
        <h3 style="margin: 0; padding: 0;">歡迎來到TravelDate</h3>
    </div>

    <div class="search-container">
        <input type="text" placeholder="搜尋..." style="width: 800px; height: 25px;"> <!-- 調整搜尋欄的高度 -->
        <button style="margin-left: 0; height: 32px;">搜尋</button> <!-- 調整搜尋按鈕的高度 -->
    </div>

    <!-- 輪播圖容器 -->
    <div id="swiper-container" class="swiper-container">
        <div class="swiper-wrapper">
            <!-- 輪播圖內容 -->
            <div class="swiper-slide">
                <img src="~/images/首頁.jpg" alt="圖片1">
            </div>
            <div class="swiper-slide">
                <img src="~/images/首頁2.jpg" alt="圖片2">
            </div>
            <div class="swiper-slide">
                <img src="~/images/首頁3.jpg" alt="圖片3">
            </div>
            <div class="swiper-slide">
                <img src="~/images/首頁4.jpg" alt="圖片4">
            </div>
        </div>
        <!-- 添加分頁器 -->
        <div class="swiper-pagination"></div>
    </div>



</section>


<section class="hot-destinations-section" id="hot-destinations-section">
    <h2>熱門行程</h2>
    <div class="destination-container">
        <div class="destination-item">
            <img src="~/images/熱門1.jpg" alt="目的地1">
            <div class="destination-info">
                <p style="text-align: left">澎湖|一日遊 | 吉貝暢玩水上活動＆來回船票 </p>
                <p>價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>

            </div>
        </div>
        <div class="destination-item">
            <img src="~/images/熱門2.jpg" alt="目的地1">
            <div class="destination-info">
                <p style="text-align: left">台灣台東｜蘭嶼達悟族划拼板舟體驗｜6-10月季節限定</p>
                <p>價格:$4000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>

            </div>
        </div>
        <div class="destination-item">
            <img src="~/images/熱門3.jpg" alt="目的地1">
            <div class="destination-info">
                <p style="text-align: left">新北|福隆沙雕藝術季「迪士尼百年慶典」包車參觀行程</p>
                <p>價格:$1000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>

            </div>
        </div>
    </div>

    <div class="destination-container2">
        <div class="destination-item2">
            <img src="~/images/熱門4.jpg" alt="目的地1">
            <div class="destination-info">
                <p style="text-align: left;">台中｜【限定優惠】心之芳庭入園門票</p>
                <p>價格:$1400&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>

            </div>
        </div>
        <div class="destination-item2">
            <img src="~/images/熱門5.jpg" alt="目的地1">
            <div class="destination-info">
                <p style="text-align: left;">花蓮|後山那一邊 | 花蓮明利飛行傘基地 | 飛行傘體驗</p>
                <p>價格:$3200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>

            </div>
        </div>
        <div class="destination-item2">
            <img src="~/images/熱門6.jpg" alt="目的地1">
            <div class="destination-info">
                <p style="text-align: left;">台南|鹽水街區、老街+月津港步行導覽2小時</p>
                <p>價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>

            </div>
        </div>
    </div>

</section>
<section class="hot-destinations-section" id="hot-destinations-section">
    <h2>促銷旅遊專案</h2>
    <div class=" discount">
        <div class="discount-item">
            <img src="~/images/促銷1.jpg" alt="目的地1">
            <div class="discount-info">
                <p style="text-align: left;">台中|夜晚吃喝行程 </p><
                <p style="text-align: left;">價格:$1000</p>
                <p>評價：4.5/5</p>
            </div>
        </div>

        <div class="discount-item">
            <img src="~/images/促銷2.jpg" alt="目的地1">
            <div class="discount-info">
                <p style="text-align: left;">台東|鹿野高台熱氣球嘉年華3天2夜</p>
                <p style="text-align: left;">價格:$1000</p>
                <p>評價：4.5/5</p>
            </div>
        </div>

        <div class="discount-item">
            <img src="~/images/促銷3.jpg" alt="目的地1">
            <div class="discount-info">
                <p style="text-align: left;">台東|蘭嶼拼板舟體驗 </p>
                <p style="text-align: left;">價格:$1000</p>
                <p>評價：4.5/5</p>
            </div>


        </div>
    </div>



</section>

<section class="hot-place-section">
    <h2>熱門地區探索</h2>
    <div class="hot-place-container">

        <div class="hot-place-item">
            <img src="~/images/城市1.jpg" alt="城市1">
            <div class="caption">台北</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市2.jpg" alt="城市2">
            <div class="caption">台中</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市3.jpg" alt="城市3">
            <div class="caption">基隆</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市4.jpg" alt="城市4">
            <div class="caption">宜蘭</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市5.jpg" alt="城市5">
            <div class="caption">花蓮</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市6.jpg" alt="城市6">
            <div class="caption">台南</div>
        </div>

    </div>
</section>

<section class="about-us-section" id="about-us-section">

    <div style="display: flex; align-items: center; justify-content: center;">
        <!-- 這裡放入關於我們的按鈕 -->
        <a asp-action="Intro">關於我們</a>
        
    </div>
</section>

<footer id="contact-us">
    <div>TravelDate</div>
    <p>&copy; 2023 旅遊網站。保留所有權利。</p>
    <p align="middle">公司名稱:TravelDate</p>
    <p align="middle">聯絡人:陳某某 電話: 0922222222</p>
    <p align="middle">Mail: TravelDate@gmail.com 地址:台北市復興南路一段390號2樓</p>
    <p align="middle">服務時間: 週一到週六 9:00-18:00 (例假日另行公告)</p>


    <div class="social-icons">
        <a href="#" target="_blank" title="關注我們的Line"><img src="~/images/line-icon.png" alt="Line" width="50" height="50" style="border-radius: 10px;"></a>
        <a href="#" target="_blank" title="關注我們的Facebook"><img src="~/images/FB-icon.png" alt="Facebook" width="50" height="50" style="border-radius: 10px;"></a>
        <a href="#" target="_blank" title="關注我們的Instagram"><img src="~/images/IG-icon.png" alt="Instagram" width="50" height="50" style="border-radius: 10px;"></a>
    </div>







</footer>

        @section Styles
        {
    <style>
        /* 全局樣式 */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        section img {
            max-width: 100%;
        }

        /* 輪播圖 */

        .swiper-container {
            max-width: 100%;
            height: 400px;
            margin: -50px auto 0; /* 調整 margin-top 為 header 和 nav 的高度之和 (70px) */
            overflow: hidden;
            position: relative; /* 添加position: relative;屬性 */
            z-index: 0; /* 將z-index設置為0，使輪播圖位於最底層 */
        }

        .swiper-pagination {
            bottom: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* 响應式樣式 */


        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute; /* 將搜尋欄位置固定 */
            top: 120px; /* 將搜尋欄固定在最上方 */
            left: 0; /* 將搜尋欄固定在最左方 */
            width: 100%; /* 搜尋欄佔滿整個寬度 */
            height: 400px; /* 調整搜尋欄高度為輪播圖高度的2倍 */
            z-index: 1; /* 將搜尋欄設置為最上層，蓋過輪播圖 */
        }


        /* 底部樣式 */
        footer {
            background-color: #155074;
            color: #fff;
            text-align: center;
            padding: 10px; /* 保留原來的padding值 */
            height: 200px;
            margin-top: 20px; /* 添加margin-top值，將footer與其他元素分隔開 */
            clear: both; /* 清除浮動 */
            position: relative;
        }


        section {
            text-align: center; /* 讓<section>元素內的內容置中 */
        }

        /*-----------------------------------------------------------------------------*/

        .destination-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .destination-container2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .destination-item {
            flex: 0 0 calc(33.33% - 10px);
            margin: 0 0px;
            padding: 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .destination-item2 {
            flex: 0 0 calc(33.33% - 10px);
            margin: 0 0px;
            padding: 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .destination-item img {
            height: 200px;
            width: 400px;
            object-fit: cover;
            margin: 0;
            padding: 0;
            border-radius: 10px; /* 加入圓弧效果 */
        }

        .destination-item2 img {
            height: 200px;
            width: 400px;
            object-fit: cover;
            margin: 0;
            padding: 0;
            border-radius: 10px; /* 加入圓弧效果 */
        }


        .destination-info {
            text-align: left;
            margin-top: 0;
        }
        /*-----------------------------------------------------------------------------*/



        .discount {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .discount-item {
            flex: 0 0 calc(33.33% - 10px);
            margin: 0 0px;
            padding: 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .discount img {
            height: 200px;
            width: 400px;
            object-fit: cover;
            margin: 0;
            padding: 0;
            border-radius: 10px; /* 加入圓弧效果 */
        }

        discount-info {
            text-align: left;
            margin-top: 0;
        }

        /*-----------------------------------------------------------------------------*/

        .hot-place-section {
            text-align: center;
        }

        .hot-place-container {
            font-size: 0; /* 設置父容器的 font-size 為 0 */
            justify-content: center;
            display: flex;
            flex-wrap: nowrap; /* 這裡設置 nowrap 表示不換行 */
            overflow-x: hidden; /* 隱藏水平溢出部分，因為圖片會寬度超出容器 */
            margin: 0 -10px; /* 這裡使用負邊距來調整圖片間的間距 */
        }

        .hot-place-item {
            width: 200px;
            height: 300px;
            border-radius: 10px; /* 圖片的邊角圓弧 */
            overflow: hidden; /* 隱藏圖片的溢出部分，以顯示圓弧效果 */
            font-size: 16px; /* 設置子元素的 font-size 為適當的值 */
        }

            .hot-place-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 5px;
            }

            .hot-place-item:hover {
                width: 300px; /* 滑鼠移到圖片上時，調整圖片寬度為 300px */
            }

        .hot-place-item {
            position: relative;
            overflow: hidden;
        }

        /* 設定文字的樣式 */
        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 10px;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s, transform 0.3s;
        }

        /* 當滑鼠移到圖片時，顯示文字 */
        .hot-place-item:hover .caption {
            opacity: 1;
            transform: translateY(0);
        }
        /*-----------------------------------------------------------------------------*/

        h2 {
            font-size: 35px;
        }

        .hot-destinations-section {
            margin-top: -40Px; /* 調整熱門目的地區塊與上方元素的距離*/
        }



        /* 省略其他樣式... */

        section {
            padding: 50px 1px 1px;
            text-align: center;
            margin-top: 30px; /* 調整模塊與頂部的間距，避免被導航欄和標題覆蓋，改為 30px */
        }

            section img:hover {
                transform: scale(1.1); /* 調整縮放值以達到所需的縮放效果 */
                transition: transform 0.3s; /* 添加平滑過渡效果 */
            }

        .hot-destinations-section {
            text-align: center; /* 讓內容置中對齊 */
            margin-top: 30px;
            display: flex; /* 使用 flexbox 佈局 */
            flex-direction: column; /* 將內容垂直排列 */
            align-items: center; /* 將內容水平置中對齊 */
        }

        /*按鈕*/
        .cta-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #808080; /* 灰底 */
            color: #fff; /* 文字顏色為白色 */
            text-decoration: none;
            border-radius: 5px; /* 圓角 */
            font-size: 16px;
        }

            /* 鼠標懸停時的樣式 */
            .cta-btn:hover {
                background-color: #555; /* 當滑鼠懸停時，深一點的灰色 */
                transition: background-color 0.3s; /* 添加平滑過渡效果 */
            }

        .social-icons {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
            display: flex;
            align-items: center;
        }

            .social-icons a {
                display: inline-block;
                margin-left: 10px;
            }

    </style>
        }
        @section Scripts
        {
    <script>


        // 輪播圖
        var mySwiper = new Swiper('.swiper-container', {
            loop: true, // 循環輪播
            autoplay: true, // 開啟自動輪播
            pagination: {
                el: '.swiper-pagination', // 分頁器元素
                clickable: true, // 極點分頁切換
            },
            slidesPerView: 1, // 每次只顯示一張圖片
        });

        //城市

        // 取得所有熱門地區項目元素
        const hotPlaceItems = document.querySelectorAll('.hot-place-item');

        // 添加滑鼠移入事件處理程序
        hotPlaceItems.forEach(item => {
            item.addEventListener('mouseover', () => {
                // 滑鼠移到圖片上時，調整圖片寬度為 300px
                item.style.width = '300px';
            });

            // 添加滑鼠移出事件處理程序
            item.addEventListener('mouseout', () => {
                // 滑鼠移出圖片時，恢復圖片原本的寬度
                item.style.width = '200px';
            });
        });

    </script>
        
        }