@model prj_Traveldate_Core.ViewModels.CHomePresent
@section TopImage{
    <section class="mt-0 pl-0 pr-0">
        @*<div style="position: absolute; top: 0; left: 0; width: 100%; text-align: center; padding: 20px; background-color: rgba(255, 255, 255, 0.7);">
    <h3 style="margin: 0; padding: 0;">歡迎來到TravelDate</h3>
    </div>*@
        @*<div class="search-container">
            <input type="text" placeholder="搜尋..." style="width: 800px; height: 25px;"> <!-- 調整搜尋欄的高度 -->
            <button style="margin-left: 0; height: 32px;">搜尋</button> <!-- 調整搜尋按鈕的高度 -->
        </div>*@
        <form>
            <div class="search-container w-100">
                <div class="d-flex justify-content-center w-50 position-relative">
                    <input type="text" name="txtKeyword" class="search-input rounded p-0" placeholder="搜尋..."/>
                    <input type="submit" value="搜尋" class="btn my-btn-primary btn-dock-right"/> <!-- 調整搜尋按鈕的高度 -->
                </div>
            </div>      
        </form>
        <!-- 輪播圖容器 -->
        <div id="swiper-container" class="swiper-container">
            <div class="swiper-wrapper">
                <!-- 輪播圖內容 -->
                <div class="swiper-slide">
                    <img src="~/images/首頁.jpg" alt="圖片1">
                </div>
                <div class="swiper-slide">
                    <img src="~/images/首頁2.jpg" alt="圖片2">
                </div>
                <div class="swiper-slide">
                    <img src="~/images/首頁3.jpg" alt="圖片3">
                </div>
                <div class="swiper-slide">
                    <img src="~/images/首頁4.jpg" alt="圖片4">
                </div>
            </div>
            <!-- 添加分頁器 -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
}

<section class="hot-destinations-section " id="hot-destinations-section">
    <h2>熱門行程</h2>
        
    <div class="destination-container">
       
           
            <div class="destination-item">
            <div class="card" style="width: 18rem;">
                <img src="~/images/熱門1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                        <p class="card-text">澎湖｜一日遊 吉貝暢玩水上活動＆來回船票</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                </div>
            </div>
            </div>

        
            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/熱門2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台東｜蘭嶼達悟族划拼板舟體驗</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/熱門3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">新北｜福隆沙雕藝術季「迪士尼百年慶典」</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>  
            </div>

    </div>

    <div class="destination-container">

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/熱門4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台中｜【限定優惠】心之芳庭入園門票</p>
                        <p class="card-text">價格:$1400&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>





       

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/熱門5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">花蓮｜後山那一邊 | 花蓮明利飛行傘基地</p>
                        <p class="card-text">價格:$3200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>


            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/熱門6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台南｜鹽水街區、老街+月津港步行導覽2小時</p>
                        <p class="card-text">價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>

    </div>


</section>




    <section class="hot-destinations-section" id="hot-destinations-section">
        <h2>TOP旅遊行程</h2>

      @*  @foreach (var p in Model.commentList)
        {
            <div class="destination-item">
                <img src="~/images/@p.ImagePath" alt="目的地" />
                <div class="fill-block">
                    <div class="destination-info">
                        <p style="text-align: left">@p.productName</p>
                        <p>單價:@p.unitPrice 評分:@p.commentScore</p>
                    </div>
                </div>
            </div>
        }*@

        <div class="destination-container">


            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台中|夜晚吃喝行程 </p>
                        <p class="card-text">價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>



@*            <div class="destination-item">
                <img src="~/images/促銷1.jpg" alt="目的地1">
                <div class="fill-block">
                    <div class="destination-info">
                        <p style="text-align: left;">台中|夜晚吃喝行程 </p>
                        <p>價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>*@

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台東|鹿野高台熱氣球嘉年華3天2夜</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>



        @*    <div class="destination-item">
                <img src="~/images/促銷2.jpg" alt="目的地1">
                <div class="fill-block">
                    <div class="destination-info">
                        <p style="text-align: left;">台東|鹿野高台熱氣球嘉年華3天2夜</p>
                        <p>價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>*@

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台東|蘭嶼拼板舟體驗</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>





         @*   <div class="destination-item">
                <img src="~/images/促銷3.jpg" alt="目的地1">
                <div class="fill-block">
                    <div class="destination-info">
                        <p style="text-align: left;">台東|蘭嶼拼板舟體驗 </p>
                        <p>價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>


*@

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台中|夜晚吃喝行程 </p>
                        <p class="card-text">價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>


        </div>


    </section>





<section class="hot-destinations-section" id="hot-destinations-section">
    <h2>促銷旅遊專案</h2>

        @*<div class="destination-container">
            @foreach (var p in Model.discountList)
            {
                <div class="destination-item">
                    <img src="~/images/@p.ImagePath" alt="目的地" />
                    <div class="fill-block">
                        <div class="destination-info">
                            <p style="text-align: left">@p.productName</p>
                            <p>單價:@p.unitPrice 評分:@p.commentScore</p>
                        </div>
                    </div>
                </div>
            }*@

        

    <div class="destination-container">


            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台中|夜晚吃喝行程 </p>
                        <p class="card-text">價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台東|鹿野高台熱氣球嘉年華3天2夜</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>

            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台東|蘭嶼拼板舟體驗</p>
                        <p class="card-text">價格:$3000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>
            <div class="destination-item">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/促銷1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">台中|夜晚吃喝行程 </p>
                        <p class="card-text">價格:$2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評價：4.5/5</p>
                    </div>
                </div>
            </div>
  </div>


</section>



<section class="hot-place-section">
    <h2>熱門地區探索</h2>
    <div class="hot-place-container">

        <div class="hot-place-item">
            <img src="~/images/城市1.jpg" alt="城市1">
                <div class="caption">台北</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市2.jpg" alt="城市2">
            <div class="caption">台中</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市3.jpg" alt="城市3">
            <div class="caption">基隆</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市4.jpg" alt="城市4">
            <div class="caption">宜蘭</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市5.jpg" alt="城市5">
            <div class="caption">花蓮</div>
        </div>

        <div class="hot-place-item">
            <img src="~/images/城市6.jpg" alt="城市6">
            <div class="caption">台南</div>
        </div>

    </div>
</section>









        @section Styles
        {
    <style>
        /* 全局樣式 */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        section img {
            max-width: 100%;
        }

        /* 輪播圖 */

        .swiper-container {
            max-width: 100%;
            height: 400px;
            margin: -50px auto 0; /* 調整 margin-top 為 header 和 nav 的高度之和 (70px) */
            overflow: hidden;
            position: relative; /* 添加position: relative;屬性 */
            z-index: 0; /* 將z-index設置為0，使輪播圖位於最底層 */
        }

        .swiper-pagination {
            bottom: 10px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        
        /* 响應式樣式 */

        /*搜尋樣式*/
        .search-container>div{
            height:50px;
        }
        .search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute; /* 將搜尋欄位置固定 */
            top: 120px; /* 將搜尋欄固定在最上方 */
            /*left: 0; /* 將搜尋欄固定在最左方 */
            /*width: 100%; /* 搜尋欄佔滿整個寬度 */
            height: 400px; /* 調整搜尋欄高度為輪播圖高度的2倍 */
            z-index: 1; /* 將搜尋欄設置為最上層，蓋過輪播圖 */
        }

        .search-input{
            /*202308017 移除 position:absolute 避免搜尋按鈕沒有對其*/
            /*position:absolute;*/
          /*  left:5px;*/
            bottom:0;
            top:0;
            width:100%;
            overflow:hidden;
        }

        /* 底部樣式 */
        


        section {
            text-align: center; /* 讓<section>元素內的內容置中 */
        }

        /*-----------------------------------------------------------------------------*/

        .destination-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:0 0 10px 0;
        }


        .destination-item {
            position: relative;
            flex: 0 0 calc(25% - 10px);
            margin: 0 5px; /* 調整外邊距，只在左右增加邊距 */
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
           
        }


            .destination-item:hover img
             {
                transform: scale(1.07); /* 圖片放大效果，可自行調整 */
                box-shadow: 0 0 5px rgba(0, 0, 0, ); /* 隨著放大增加陰影，可自行調整 */
            }

            .destination-item:hover .fill-block{
                transform: scale(1.05); /* 圖片放大效果，可自行調整 */
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* 隨著放大增加陰影，可自行調整 */
            }

   
        
        .fill-block{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.3s, transform 0.3s;
            border-radius: 10px;
        }



        /*-----------------------------------------------------------------------------*/
     

        .hot-place-section {
            text-align: center;
        }

        .hot-place-container {
            font-size: 0; /* 設置父容器的 font-size 為 0 */
            justify-content: center;
            display: flex;
            flex-wrap: nowrap; /* 這裡設置 nowrap 表示不換行 */
            overflow-x: hidden; /* 隱藏水平溢出部分，因為圖片會寬度超出容器 */
            margin: 0 -10px; /* 這裡使用負邊距來調整圖片間的間距 */
        }

        .hot-place-item {
            width: 200px;
            height: 300px;
            
            overflow: hidden; /* 隱藏圖片的溢出部分，以顯示圓弧效果 */
            font-size: 16px; /* 設置子元素的 font-size 為適當的值 */
        }

            .hot-place-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 5px;
                border-radius: 10px 
            }

            .hot-place-item:hover {
                width: 300px; /* 滑鼠移到圖片上時，調整圖片寬度為 300px */
            }

        .hot-place-item {
            position: relative;
            overflow: hidden;
        }

        /* 設定文字的樣式 */
        .caption {
            position: absolute;
            bottom: 0;
            left: 2%;
            width: 98%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 10px;
            opacity: 0;

            transform: translateY(100%);
            transition: opacity 0.3s, transform 0.3s;
        }

        /* 當滑鼠移到圖片時，顯示文字 */
        .hot-place-item:hover .caption {
            opacity: 1;
            transform: translateY(0);
        }
        /*-----------------------------------------------------------------------------*/

        h2 {
            font-size: 35px;
        }

        .hot-destinations-section {
            margin-top: -40Px; /* 調整熱門目的地區塊與上方元素的距離*/
        }



        /* 省略其他樣式... */

        section {
            padding: 50px 1px 1px;
            text-align: center;
            margin-top: 30px; /* 調整模塊與頂部的間距，避免被導航欄和標題覆蓋，改為 30px */
        }

          

        .hot-destinations-section {
            text-align: center; /* 讓內容置中對齊 */
            margin-top: 30px;
            display: flex; /* 使用 flexbox 佈局 */
            flex-direction: column; /* 將內容垂直排列 */
            align-items: center; /* 將內容水平置中對齊 */    
        }

       

            /* 鼠標懸停時的樣式 */
            .cta-btn:hover {
                background-color: #555; /* 當滑鼠懸停時，深一點的灰色 */
                transition: background-color 0.3s; /* 添加平滑過渡效果 */
            }

            /*-------------------------------------------*/
            .destination-item .card-text {
                text-align: left;
            }

        .card-img-top {
            width: 600px;
            height: 200px;
        }
    </style>
        }
        @section Scripts
        {
    <script>


        // 輪播圖
        var mySwiper = new Swiper('.swiper-container', {
            loop: true, // 循環輪播
            autoplay: true, // 開啟自動輪播
            pagination: {
                el: '.swiper-pagination', // 分頁器元素
                clickable: true, // 極點分頁切換
            },
            slidesPerView: 1, // 每次只顯示一張圖片
        });



    </script>
        
        }