<div class="aboutus" >
    <img src="~/images/關於我們.jpg" alt="關於我們1">
</div>
<div class="intro">
    <h1>歡迎來到<span style="color: #007bff;">TravelDate</span></h1>
    <p>在TravelDate，我們將帶您探索國內最美麗的角落，發現國內旅遊的獨特之處。我們深信國內旅遊也同樣能帶給您心靈的啟迪，讓您重新與自我連結，並深入了解這片多元而富饒的土地。</p>
    <p>無論您是初次踏上國內旅程，或是經驗豐富的國內旅遊愛好者，TravelDate提供了豐富多樣的國內旅遊選擇，滿足不同需求和喜好。我們的目標是讓您在每次旅行中都獲得獨特而難忘的體驗，深入當地文化，創造永久的回憶。</p>
    <p>我們的團隊由對國內旅遊充滿熱情的專業人員組成，精心挑選了國內最令人興奮和獨特的旅遊目的地，確保您的旅程將是充滿驚喜和啟發的。無論您想要在迷人的海岸線上沐浴陽光，探索古老的歷史古城，沉浸在大自然的懷抱中，或是品味各地美食文化，我們都擁有精心策劃的行程。</p>
    <p>在TravelDate，我們不只是提供旅行計劃，更是打造一段旅程，一次探索之旅，讓您重新認識這片美麗的國土。我們相信每一次旅行都是一次寶貴的機會，為您的生活增添色彩。</p> 
</div>

@section Styles
{
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            height: 100px;
            background-color: #f0f0f0;
        }

        .intro {
            padding: 30px;
            background-color: #f9f9f9;
            text-align: center;
        }

            .intro h1 {
                font-size: 36px;
                color: #333;
                margin-bottom: 20px;
            }

            .intro p {
                font-size: 18px;
                color: #555;
                line-height: 1.6;
            }

        .cta-btn {
            display: inline-block;
            margin-top: 20px;
            padding: 12px 24px;
            background-color: #007bff;
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            border-radius: 4px;
        }

            .cta-btn:hover {
                background-color: #0056b3;
            }

        .footer {
            background-color: #222;
            color: #fff;
            text-align: center;
            padding: 15px;
        }

        .aboutus img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    </style>

}